body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: #003366;
    font-size: 60px;
    margin-bottom: 50px;
}

.option-button {
    display: block;
    width: 80%;
    max-width: 350px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 25px;
    font-size: 24px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.option-button:hover {
    background-color: #cc5500;
    transform: scale(1.05);
}

.thank-you-text {
    color: #003366;
    font-size: 30px;
    margin-top: 80px;
    font-weight: bold;
    background-color: #d0e7ff;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}
.footerText {
    color: #003366;
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
    background-color: #d0e7ff;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}