body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: #003366;
    font-size: 60px;
    margin-bottom: 50px;
}

.option-button {
    display: block;
    width: 80%;
    max-width: 350px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 25px;
    font-size: 24px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.option-button:hover {
    background-color: #cc5500;
    transform: scale(1.05);
}

.thank-you-text {
    color: #003366;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    background-color: #d0e7ff;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.arrow {
    background-color: #003366; /* Mørkeblå */
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%; /* Gjør den rund */
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-text {
    color: #003366; /* Mørkeblå */
    font-size: 20px;
    font-weight: bold;
}